* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
}

body {
  background: #ededef;
}

#app,
.Info {
  max-width: 600px;
  padding: 40px;
  margin: 0 auto;
  position: relative;
}

hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}